---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/bridge.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">About Me</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/washington-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/washington.webp">
        <img decoding="async" src="/assets/images/washington.webp" alt="washington" width="1280" height="568" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-1398">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/bridge.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/bridge.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/bridge.webp" alt="bridge" width="542" height="728">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/banner_bg.svg" alt="icon" width="60" height="60">
                    <span class="cs-desc">
                        10+ years of entrepreneurial experience 
                    </span>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/trophy.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        My services epitomize quality meticulous, precise, and unmatched.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/circle_check.svg" alt="icon" width="32" height="32">
                        Quality Support
                    </h3>
                    <p class="cs-item-text">
                        Experience top-tier support prompt, attentive, and always there for you.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Crafting Digital Experiences: Meet the Visionary <span class="cs-color">Behind the Code</span></h1>
            <h2>My Story</h2>
            <p>
                Hey there! I wanted to share a bit about my journey with you. I'm Kolby Ellis, a marketing graduate from Grand Canyon University in Phoenix, Arizona, with a passion for creative problem-solving and innovation.
            </p>
            <h3>College: Nurturing Creativity in Marketing</h3>
            <p>My venture into the professional world began at Grand Canyon University in Phoenix, Arizona. As a marketing graduate, I honed my skills in creative problem-solving and innovation, setting the stage for an unexpected yet rewarding journey.
            </p>
            <h3>Post Grad: Entrepreneurial Ventures in Property Management</h3>
            <p>Post-college, I took a detour that caught many by surprise. For five fulfilling years, I spearheaded my own property management company in Phoenix, navigating the complexities of real estate with tenacity and passion.</p>
            <h3>Now: A Tech Enthusiast in the Making</h3>
            <p>Life has a way of steering you toward your true calling. In my case, it nudged me toward the dynamic world of technology. Since realizing my passion for tech, I've immersed myself in self-learning through platforms like Nucamp and Scrimba. July 2023 marked a pivotal moment as I proudly graduated from Nucamp with a certificate in Front End Web and Mobile Development.</p>
            <h3>Eager Learner, Ready for Challenges
            </h3>
            <p>Through diverse courses, I've acquired a toolbox of skills, delving into coding languages like HTML, CSS, JavaScript, React, and more. My journey doesn't end here; I'm fueled by a perpetual desire to broaden my horizons in a real-world setting.</p>
        <h3>Quick Learner, Thriving in Team Dynamics
        </h3>
        <p>Whether collaborating in a team or tackling projects solo, I bring a quick learning mindset and a touch of perfectionism to the table. The prospect of working with seasoned professionals and exploring cutting-edge technologies is both thrilling and invigorating.
        </p>
        <h3>Entrepreneurial Spirit Meets Tech Savvy</h3>
        <p>Armed with an entrepreneurial background and a toolkit of self-taught technical skills, I'm not just seeking opportunities; I'm ready to contribute meaningfully to the ever-evolving landscape of technology.
        </p>
        <h3>Looking Forward to the Next Chapter
        </h3>
        <p>As I embark on the next chapter of my journey, I'm eager to face new challenges, embrace opportunities, and continue evolving. Here's to the unexpected and exciting twists that lie ahead!
        </p>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
    
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What services do you offer?
                    </span>
                </button>
                <p class="cs-item-p">
                    I provide top-notch digital marketing and web development services, offering a blend of creativity, technical expertise, and meticulous attention to detail.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What sets you apart in terms of quality?
                    </span>
                </button>
                <p class="cs-item-p">
                    My services epitomize quality, marked by precision, dedication, and an unwavering commitment to excellence. You can expect nothing short of outstanding performance and satisfaction.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How do you handle customer support?
                    </span>
                </button>
                <p class="cs-item-p">
                    I offer top-tier support, prompt, attentive, and always ready to address any inquiries or concerns with a high level of care and professionalism.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is your educational background?
                    </span>
                </button>
                <p class="cs-item-p">
                    I'm a marketing graduate from Grand Canyon University, with a unique journey that includes leading a successful property management company and graduating from the Nucamp bootcamp with a certificate in Front End Web and Mobile Development.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can I adapt to collaborative team environments?
                    </span>
                </button>
                <p class="cs-item-p">
                    Absolutely! I am a quick learner and a perfectionist, excelling both in collaborative team settings and when taking on solo projects.
                </p>
            </li>
        </ul>
        <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
        <ul class="cs-faq-group">
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How can I contribute to your team?
                    </span>
                </button>
                <p class="cs-item-p">
                    Leveraging an entrepreneurial background and self-taught technical skills, I bring a unique perspective to the table, contributing meaningfully to the success of your team.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What coding languages am I proficient in?
                    </span>
                </button>
                <p class="cs-item-p">
                    I have acquired a wealth of skills, including proficiency in coding languages such as HTML, CSS, JavaScript, React, and more.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How do I stay current with evolving technologies in web development?
                    </span>
                </button>
                <p class="cs-item-p">
                    I am committed to continuous learning. Whether it's exploring the latest frameworks or staying updated on emerging trends, I thrive on adapting to new technologies to enhance the quality of my services.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What makes my approach to digital marketing unique?
                    </span>
                </button>
                <p class="cs-item-p">
                    My approach is distinctive in tailoring strategies that seamlessly blend creativity and data-driven insights, ensuring your brand stands out in the digital landscape.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How can you connect with me?
                    </span>
                </button>
                <p class="cs-item-p">
                    Feel free to reach out through the provided contact details on the website. I'm always ready to discuss potential collaborations, answer inquiries, or provide additional information.
                </p>
            </li>
        </ul>
    </div>
</section>

{% endblock %}