---
title: 'Projects'
description: 'Meta description for the page'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">My Projects</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/projects" class="cs-link cs-active">Projects</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/washington-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/washington.webp">
        <img decoding="async" src="/assets/images/washington.webp" alt="washington" width="1280" height="568" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">My Projects</span>
                <h2 class="cs-title">Discover My Latest Web Development Projects</h2>
            </div>
            <p class="cs-text">
                Explore my latest web development project page showcasing innovative solutions, elegant designs, and seamless user experiences that redefine digital presence.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/schwab_videography.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/schwab_videography.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/schwab_videography.webp" alt="schwab videography" width="413" height="450">
                        </picture>
                        <span class="cs-header">Schwab Videography</span>
                        <p class="cs-item-text">
                            Currently in progress. Schwab Videography has asked me to help them with their marketing and SEO.                         </p>
                        <span class="cs-number">01</span>
                    </div>
                    <h3 class="cs-h3">Schwab Videography</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/elite_earthworks.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/elite_earthworks.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/elite_earthworks.webp" alt="elite earthworks" width="413" height="450">
                        </picture>
                        <span class="cs-header">Elite Earthworks</span>
                        <p class="cs-item-text">
                            Website is currently in progress. Elite is a construction company in California that has hired me to make them a website. This is my first website doing no plugins, just high level HTML and CSS.
                        </p>
                        <span class="cs-number">02</span>
                    </div>
                    <h3 class="cs-h3">Elite Earthworks</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/car_rental-m.webp">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/car_rental.webp">
                            <img loading="lazy" decoding="async" src="/assets/images/car_rental.webp" alt="car rental" width="413" height="450">
                        </picture>
                        <span class="cs-header">Car Rental</span>
                        <p class="cs-item-text">
                            A faux car rental company I did to help familliarize myself with responsive web design and React.                        
                        </p>
                        <span class="cs-number">03</span>
                    </div>
                    <h3 class="cs-h3">Car Rental</h3>
                </a>
            </li>
        </ul>
    </div>
</section>                        

{% endblock %}