---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1352">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome To My Website!</span>
            <h1 class="cs-title">Kolby Ellis</h1>
            <p class="cs-text">
                This portfolio website serves as a personalized showcase, highlighting my skills, projects, and achievements, providing a comprehensive overview for potential employers and collaborators. 
            </p>
            <a href="/contact" class="cs-button-solid">Let's Get To Work</a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/me.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/me.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/me.webp" alt="photo of myself" width="468" height="658">
        </picture>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/abstract.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/abstract.webp">
        <img decoding="async" src="/assets/images/abstract.webp" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1338">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Projects</h2>
            <p class="cs-text">
                View some of my best work.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://www.schwabvideography.com/" class="cs-link">
                    <span class="cs-number">01</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/schwab_videography.webp">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/schwab_videography.webp">
                        <img decoding="async"
                                src="/assets/images/schwab_videography.webp"
                                alt="finance" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Schwab Videography</h3>
                        <p class="cs-item-text">
                            Currently in progress. Schwab Videography has asked me to help them with their marketing and SEO. 
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="https://eliteearthworks.netlify.app/" class="cs-link">
                    <span class="cs-number">02</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/elite_earthworks.webp">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/elite_earthworks.webp">
                        <img decoding="async"
                                src="/assets/images/elite_earthworks.webp"
                                alt="elite earthworks" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Elite Earthworks</h3>
                        <p class="cs-item-text">
                            Website is currently in progress. Elite is a construction company in California that has hired me to make them a website. This is my first website doing no plugins, just high level HTML and CSS.
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="https://car-rental-ten.vercel.app/" class="cs-link">
                    <span class="cs-number">03</span>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/car_rental.webp">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/car_rental.webp">
                        <img decoding="async"
                                src="/assets/images/car_rental.webp"
                                alt="car rental" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Car Rental</h3>
                        <p class="cs-item-text">
                            A faux car rental company I did to help familliarize myself with responsive web design and React.
                        </p>
                    </div>
                </a>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Icon.svg" alt="arrow"
                        width="412" height="249" aria-hidden="true">
            </li>
        </ul>
    </div>
</section>        

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1630">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/banner3.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/banner3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/banner3.webp" alt="climbing photo" width="608" height="400">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Hire Me?</span>
                <h2 class="cs-title">Transforming Visions into Digital Success: Elevate Your Online Presence with My Expert Web Development Solutions</h2>
                <p class="cs-text">
                    As a solo web developer, I am committed to transforming your vision into a compelling digital reality. With a meticulous approach and a passion for crafting user-centric websites, I offer tailored solutions that elevate your brand and ensure a standout online experience.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/icon1.svg" alt="problem-solving" width="24" height="24">
                    </picture>
                    Problem Solving
                </h3>
                <p class="cs-item-text">
                    Leveraging my experience from owning my own property management company, I approach problem-solving in web development with a meticulous and analytical mindset, identifying root causes and implementing effective solutions to ensure seamless progression.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/icon2.svg" alt="phone" width="24" height="24">
                    </picture>
                    24/7 Support
                </h3>
                <p class="cs-item-text">
                    Providing unparalleled customer service, my commitment extends to offering 24/7 phone support in web development, ensuring clients have immediate assistance, fostering trust, and maintaining open lines of communication around the clock.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/icon3.svg" alt="seo" width="24" height="24">
                    </picture>
                    SEO
                </h3>
                <p class="cs-item-text">
                    Utilizing my expertise honed in marketing, I implement strategic SEO practices in web development, optimizing online visibility and driving organic traffic to enhance a digital presence and maximize online success for businesses.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1571">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Skills</span>
            <h2 class="cs-title">Here are some of the coding languages I have experience in</h2>
        </div>
        <div class="cs-card-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="/assets/svgs/html_icon.svg"
                                alt="html" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">HTML</h3>
                        <p class="cs-item-text">
                            5+ years of experience.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="/assets/svgs/css_icon.svg"
                                alt="css" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">CSS</h3>
                        <p class="cs-item-text">
                            5+ years of experience
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="/assets/svgs/javascript_icon.svg"
                                alt="JavaScript" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">JavaScript</h3>
                        <p class="cs-item-text">
                            2 years of experience
                        </p>
                    </div>
                </li>
            </ul>
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="assets/images/coding.webp">
                <source media="(min-width: 601px)"
                        srcset="assets/images/coding.webp">
                <img loading="lazy" decoding="async"
                        src="assets/images/coding.webp" alt="coding logo"
                        width="510" height="193" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="/assets/svgs/react_icon.svg"
                                alt="react" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">React</h3>
                        <p class="cs-item-text">
                            1 year of experience
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="/assets/svgs/git_icon.svg"
                                alt="git" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Git</h3>
                        <p class="cs-item-text">
                            2 years of experience
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="/assets/svgs/typescript_icon.svg"
                                alt="typescript" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Typscript</h3>
                        <p class="cs-item-text">
                            1 year of experience
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="assets/images/skills_background.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="assets/images/skills_background.webp">
        <img loading="lazy" decoding="async" src="assets/images/skills_background.webp" alt="backgorund texture" width="1280" height="568">
    </picture>
</section>
                                
{% endblock %}